/* https://mdbootstrap.com/docs/jquery/javascript/scroll/ */
.scrollbar {
    margin-left: 30px;
    float: left;
    height: 300px;
    width: 65px;
    background: #fff;
    overflow-y: scroll;
}
.force-overflow {
    min-height: 450px;
}
.scrollbar-primary::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5; 
}  
.scrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #4285F4; 
}   
.scrollbar-primary {
    scrollbar-color: #4285F4 #F5F5F5;
}


.etiqueta{
    font-size: 20px;
}
.contentInput{
    margin-top: 1em;
}
.contChat{
    width: 800px;
    height: 600px;
    margin: auto;
}
.inputText{
    border-top: solid .05em #e2e2e2;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

.msjContent{
    display: flow-root;
    padding-right: 20px;
}

.arrowRigth{
    float: right;
    width: 0;
    height: 0;
    content: "";
    left: 14px;
    top:-1px;
    position: relative;
    border-style: solid;
    border-width: 13px 13px 0 0;
    border-color: #0046c5f5 transparent transparent transparent;
}

.yo{
    float: right;
    text-align: right;
    border: .05rem solid #0046c5f5;
    margin-bottom: 5px;
    border-radius: .5rem 0rem .5rem .5rem;
    overflow-wrap: break-word;
    background-color: #005afff5;
    color: white;
    max-width: 80%;
}

.el{
    float: left;
    text-align: left;
    border: .05rem solid #c7c7c7;
    margin-bottom: 5px;
    padding-left: 10px;
    border-radius: 0rem .5rem .5rem .5rem;
    overflow-wrap: break-word;
    background-color: #f1f1f1;
    max-width: 80%;
}

.arrorLeft{
    width: 0;
    height: 0;
    content: "";
    top: .7em;
    left: -1.5em;
    position: relative;
    border-style: solid;
    border-width: 13px 0 0 13px;
    border-color: #c7c7c7 transparent transparent transparent;
    display: inline;
}

.h5Rigth{
    margin-left: .3em;
    margin-bottom: 0;
    display: block;
    font-weight: bold;
    margin-right: 1em;
}

.h5Left{
    margin-top: -1em;
    margin-left: .3em;
    margin-bottom: 0;
    display: block;
    font-weight: bold;
    margin-right: 1em;
}

.el > p, .yo > p {
    margin: .5em 1em .5em .5em;
}

.tituloChat{
    display: block;
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
    font-weight: bold;
}

.mensaje{
    width: 798px;
    height: 543px;
    margin-left: 0;
    background-color: #e4e2e2;
}

.listMens{
    list-style: none;
    padding-top: 5px;
    padding-left: 20px;
}

.entrada{
    display: block;
}

.entrada > button{
    width: 70px;
}

.nickName{
    display: inline;
    width: 300px;
}

.msj{
    display: inline;
    width: 700px;
}